@using Manage_Coffee.Models.ViewModels
@model CartItemViewModel

<div class="container-fluid page-header py-5">
	<h1 class="text-center text-white display-6">Cart</h1>
	<ol class="breadcrumb justify-content-center mb-0">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item"><a href="#">Pages</a></li>
		<li class="breadcrumb-item active text-white">Cart</li>
	</ol>
</div>
<!-- Single Page Header End -->
<!-- Cart Page Start -->
<div class="container-fluid py-5">
	<div class="container py-5">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Products</th>
						<th scope="col">Name</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity</th>
						<th scope="col">Total</th>
						<th>Size</th>
					<th>ghichu</th>
					</tr>
				</thead>
				<tbody>
					@if(Model.CartItems.Count > 0){
					@foreach (var item in Model.CartItems)
					{
						<tr>
							<th scope="row">
								<div class="d-flex align-items-center">
									<img src="~/Hinh/HangHoa/@item.Anh" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="@item.Ten">
								</div>
							</th>
							<td>
								<p class="mb-0 mt-4">
									<a asp-action="Detail" asp-controller="SanPham" asp-route-id="@item.ProductID">
										@item.Ten
									</a>
								</p>
							</td>
							<td>
								<p class="mb-0 mt-4">$ @item.Dongia</p>
							</td>
							<td>
								@*   <div class="input-group quantity mt-4" style="width: 100px;">
								  	<div class="input-group-btn">
								  		<button class="btn btn-sm btn-minus rounded-circle bg-light border">
								  			<i class="fa fa-minus"></i>
								  		</button>
								  	</div>
								  	<input type="text" class="form-control form-control-sm text-center border-0" value="@item.Soluong">
								  	<div class="input-group-btn">
								  		<button class="btn btn-sm btn-plus rounded-circle bg-light border">
								  			<i class="fa fa-plus"></i>
								  		</button>
								  	</div>
								  </div> *@
								  <div class="cart_sl">
								
										  <a class="btn btn-primary btn-sm" asp-controller="Cart" asp-action="Increase" asp-route-id="@item.ProductID">+
										  </a>
										  <input class="text" type="text" name="quantity" value="@item.Soluong" autocomplete="off" size="1" />
										<a class="btn btn-primary btn-sm" asp-controller="Cart" asp-action="Decrease" asp-route-id="@item.ProductID">
												-
											</a>

										<a class="btn btn-primary btn-sm" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductID">
											Xóa
										</a>
								  </div>
							</td>
							<td>
								<p class="mb-0 mt-4">$ @Model.CartItems.Where(X=>X.ProductID == item.ProductID).Sum(X=> X.Soluong*X.Dongia).ToString();
								</p>
							</td>
							

						   <td>@item.SizeName</td>
						
							<td>@item.Ghichu</td> 
						
							<td colspan="6"> Grand Total : @Model.GrandTotal.ToString()</td>
						</tr>
						}
					}
					else
					{
						<tr>
							<td colspan="5">Giỏ hàng rỗng</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		
	</div>
</div>