@model IEnumerable<GoogleAuthDemo.Models.SanPham>
@{
    ViewData["Title"] = "Sanpham1";
}

<h1>Danh sách sản phẩm</h1>

<!-- Nút tạo sản phẩm mới -->
<p>
    <a asp-action="Create">Create New</a>
</p>

 <!-- Hiển thị danh sách loại sản phẩm -->
<div style="background-color: gray; display: block;">
    @await Component.InvokeAsync("Category")
</div>

<!-- Bảng hiển thị danh sách sản phẩm -->
  <table class="table">
     <thead>
         <tr>
             <th>

                 @Html.DisplayNameFor(model => model.Ten)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Dongia)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Dvt)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Mota)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Anh)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.MaToppingNavigation)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.MaloaiNavigation.Ten)
             </th>
             <th>Actions</th>
         </tr>
     </thead> 
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dongia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dvt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mota)
                </td>
                <td>
                    <img src="@Url.Content(item.Anh)" alt="@item.Ten" width="100" height="100" />
                </td>
               <td>
                    @Html.DisplayFor(modelItem => item.MaToppingNavigation.Ten)
               </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaloaiNavigation.Ten)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaSp">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaSp">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaSp">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
